[Desktop Entry]
Name=OneDriveGUI
StartupNotify=true
Exec=/usr/bin/python /opt/OneDriveGUI/OneDriveGUI.py
Terminal=false
Icon=OneDriveGUI
Type=Application